{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&family=Lexend+Deca:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="icono-gimnasio">GESTION <br> DE <br> HORARIOS</h1>
    <ul>
        {% for horario in horarios %}
            <li>
                Horario ID: {{ horario.id }}
                <!-- Otros detalles del horario -->
                <form action="{% url 'editar_horario' pk=horario.id %}" method="get" style="display: inline;">
                    <button type="submit">Editar</button>
                </form>
                <form action="{% url 'confirmar_eliminar_horario' pk=horario.id %}" method="get" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cargar_horario' %}">Agregar Nuevo Horario</a>
</body>
</html>