<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Proyecto1</title>
</head>
<body>
    <header>
        <h1>BIENVENIDO</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Contenido Principal</h2>
        <p>Este es un párrafo de ejemplo.</p>
        <p>Este es otro párrafo de ejemplo.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime et ab repellat animi minus incidunt adipisci ipsum explicabo quidem dolorum. Itaque eius repellendus saepe earum voluptate eaque, quas ipsam cupiditate!</p>
    </main>
    
    <footer>
        <p>Pie de página © 2023</p>
    </footer>
</body>
</html>